#body {
    font-family: georgia, 'bitstream vera serif', serif;
}

.output {
  font-family: 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, monospace;
  font-size: 80%;
  border : 1px dashed grey;
  padding: 10px;
  margin-bottom: 20px;
}


.iframeWrapper {
    width:200px;
    height:200px;
    border:1px solid gray;
    background-color: white;
    margin-bottom: 50px;
}

.clearfloat {
    clear: both ;
}

iframe {
    width:100%;
    height:100%;
    display:block; 
    border:none; 
}
span.togglebutton {
    position:relative;
    left:0;
    top:0;
    background-color:black;
    padding:3px;
    color:white;
}
span.togglebutton:hover {
    cursor: pointer;
}
div.maximized {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-transform: scale(4);
    -webkit-transform-origin: 0 0;
    border:0 none;
    z-index:9;
}